  body {
            margin: 0;
            padding: 0;
            background-color: black; /* Fondo negro */
            color: white;           /* Letras blancas */
            font-family: Arial, sans-serif;
            
            /* Centrado total en la pantalla */
            display: flex;
            flex-direction: column; /* Alinea los divs uno debajo del otro */
            justify-content: center; /* Centrado vertical */
            align-items: center;    /* Centrado horizontal */
            height: 100vh;          /* Usa todo el alto de la ventana */
        }
.principal {
            text-align: left;     /* Centra el texto dentro del div */
            margin: 10px;           /* Espacio entre los dos divs */
            padding-top: 200px; 
            max-width: 600px; /* Aquí es donde limitas el ancho del "cubito" */
            border: 1px; /*solid #333; /* Opcional: un borde sutil para ver los límites */
        }
